<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>quanlithuvien</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>trang-chu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerBook</display-name>
    <servlet-name>ControllerBook</servlet-name>
    <servlet-class>quanlithuvien.controller.ControllerBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerBook</servlet-name>
    <url-pattern>/ControllerBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>quanlithuvien.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorController</display-name>
    <servlet-name>ErrorController</servlet-name>
    <servlet-class>quanlithuvien.controller.ErrorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorController</servlet-name>
    <url-pattern>/ErrorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookController</display-name>
    <servlet-name>SearchBookController</servlet-name>
    <servlet-class>quanlithuvien.controller.SearchBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookController</servlet-name>
    <url-pattern>/SearchBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchController</display-name>
    <servlet-name>BookSearchController</servlet-name>
    <servlet-class>quanlithuvien.controller.BookSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchController</servlet-name>
    <url-pattern>/BookSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientHomeController</display-name>
    <servlet-name>ClientHomeController</servlet-name>
    <servlet-class>quanlithuvien.controller.ClientHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientHomeController</servlet-name>
    <url-pattern>/ClientHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderController</display-name>
    <servlet-name>ReaderController</servlet-name>
    <servlet-class>quanlithuvien.controller.ReaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderController</servlet-name>
    <url-pattern>/ReaderController</url-pattern>
  </servlet-mapping>
</web-app>